.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  width: 140px;
  height: 40px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.link {
  display: flex;
  align-items: center;
}

.linkIcon {
  margin-left: 5px;
}
